<div th:fragment="header" class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <img src="/images/websearcherlogo.png" style="height: 50px; width: auto; border-radius: 50%; margin-right: 10px;">
                <span class="fs-4">WEB SEARCHER</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">About Us</a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Support</a>
<!--                <a class="py-2 link-body-emphasis text-decoration-none" href="#">Pricing</a>-->
            </nav>
        </div>
    </header>
</div>